---
import type { GitHubUser } from "@lib/github";

import BrutalButton from "@components/BrutalButton.astro";
import BrutalCard from "@components/BrutalCard.astro";
import BrutalPill from "@components/BrutalPill.astro";
import { Image } from "astro:assets";

interface Props {
	userData: GitHubUser;
	userDataSocialMedia: any;
}

const { userData, userDataSocialMedia } = Astro.props;
---

<section
	id="about"
	class="grid grid-cols-12">
	<div class="col-span-12">
		<BrutalCard
			class="!bg-lime-400 !drop-shadow-none !py-4 !px-6 h-full relative overflow-hidden">
			<div class="flex flex-col justify-between items-start relative z-10">
				<p class="outfit text-4xl md:text-5xl lg:text-7xl font-bold">
					I'm {userData.name}
				</p>
				<p class="mt-5 outfit text-xl md:text-2xl lg:text-4xl max-w-2xl">
					{userData.bio}
				</p>
				<div class="flex flex-wrap gap-2 mt-4 relative z-10">
					<BrutalPill hoverable={false}>
						{userData.followers} Followers
					</BrutalPill>
					<BrutalPill hoverable={false}>
						{userData.following} Following
					</BrutalPill>
					<BrutalPill hoverable={false}>
						{userData.public_repos} Public Repositories
					</BrutalPill>
				</div>

				<p class="mt-5 outfit text-lg md:text-xl lg:text-3xl max-w-2xl">
					You can find me on ...
				</p>
				<div class="flex flex-wrap gap-2 mt-4 relative z-10">
					<BrutalButton
						href={userData.html_url}
						target="_blank">
						Github
					</BrutalButton>
					{
						userDataSocialMedia?.map((socialMedia: any) => (
							<BrutalButton
								href={socialMedia.url}
								class="capitalize"
								target="_blank">
								{socialMedia.provider}
							</BrutalButton>
						))
					}
				</div>
			</div>

			<div></div>

			<div class="absolute top-0 right-0 w-1/2 h-full">
				<div class="relative w-full h-full">
					<Image
						src={userData.avatar_url}
						alt={userData.name}
						class="h-full w-full object-cover"
						width={400}
						height={400}
					/>
					<div
						class="absolute inset-0 bg-gradient-to-r from-lime-400 via-lime-400/50 to-transparent">
					</div>
				</div>
			</div>
		</BrutalCard>
	</div>
	<div class="col-span-12">
		<BrutalCard
			class="!bg-black text-white !drop-shadow-none !py-4 !px-6 h-full flex items-center">
			<p class="outfit text-xl md:text-2xl lg:text-3xl leading-relaxed">
				Aside from coding, I enjoy video creation, exploring new technologies,
				and engaging in outdoor activities. 🏃
			</p>
		</BrutalCard>
	</div>
</section>
