---
import Layout from "@layouts/Default.astro";
import RecentBlogPosts from "@components/generic/RecentBlogPosts.astro";
import MobileSocials from "@components/home/MobileSocials.astro";
import { Pill } from "@eliancodes/brutal-ui";
import { Button } from "@eliancodes/brutal-ui";
import { Card } from "@eliancodes/brutal-ui";

const response = await fetch("https://api.github.com/users/arxjei", {
	headers: {
		Authorization: `Bearer ${import.meta.env.SECRET_GITHUB_TOKEN}`,
	},
});

const userData = await response.json();
export const prerender = true;
---

<Layout
	title="Home"
	pageTitle=`${userData.name} - Home`
	description=`Welcome to ${userData.name}'s personal website. Explore blogs, projects, and more about Arxjei.`>
	<main class="bg-emerald-500 p-6">
		<MobileSocials />

		<section
			id="about"
			class="grid md:grid-cols-12 gap-6 mt-6">
			<div
				class="col-span-12 md:col-span-4 lg:col-span-3 flex justify-center md:justify-end items-start order-first md:order-last">
				<div class="relative group">
					<div
						class="absolute -inset-1 rounded-lg blur opacity-25 group-hover:opacity-50 transition duration-300">
					</div>
					<div
						class="relative bg-white border-4 border-black rounded-lg overflow-hidden shadow-[8px_8px_0_rgb(0,0,0)] hover:shadow-[4px_4px_0_rgb(0,0,0)] hover:translate-x-1 hover:translate-y-1 transition-all duration-200">
						<img
							src={userData.avatar_url}
							alt={userData.name}
							class="w-full h-auto"
							width="300"
							height="300"
						/>
					</div>
				</div>
			</div>

			<div
				class="col-span-12 md:col-span-8 lg:col-span-9 flex flex-col justify-center gap-6">
				<div
					class="p-6
      h-full
      relative bg-white border-4 border-black rounded-lg overflow-hidden shadow-[8px_8px_0_rgb(0,0,0)] hover:shadow-[4px_4px_0_rgb(0,0,0)] hover:translate-x-1 hover:translate-y-1 transition-all duration-200">
					<div class="flex flex-col justify-between items-start gap-4">
						<p class="mt-4 outfit text-2xl md:text-5xl lg:text-7xl">
							Hi, I'm <span class="font-bold">{userData.name}</span>
						</p>
						<p class="mt-2 outfit text-xl md:text-3xl lg:text-5xl">
							{userData.bio}
						</p>
						<div class="flex flex-wrap gap-2 mt-2">
							<Pill>{userData.followers} Followers</Pill>
							<Pill>{userData.following} Following</Pill>
							<Pill>{userData.public_repos} Public Repositories</Pill>
						</div>
						<Button
							color="lime"
							target={"_self"}
							href="/blog/">
							Check out the blog &rarr;
						</Button>
					</div>
				</div>
			</div>
		</section>

		<RecentBlogPosts />
	</main>
</Layout>
